/* Style Gral. */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1599ce;
  color: #0a0a0a;
  margin: 1em;
  }

#margin-gral {
  margin: 1vw;
}

#principal {
  font-size: 4em;
  color: black;
  width: 60vw;
  margin: auto;
  padding: 1vw;
  }

#saludo {
  background-color: #0a0a0a;
  color: rgb(32, 245, 12);
  font-size: 2.5em;
  margin: 1vw 1vw 2vw 0vw;
  }

#titulos-temas {
  width: 60vw;
}

#primer-parrafo {
 width: 90vw;
 margin: 2.5vw
}

h2 {
  font-size: 1.8em;
  color: black;
  } 

.title {
  font-size: 1.2em;
  }

.presentación {
  color: rgb(32, 245, 12);
  width: 95vw;
  padding: 1vw 1vw 1vw 0vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.temas {
  background-color: black;
  border: 2px solid rebeccapurple;
  padding: 1em 2em 1em 2em;
  border-radius: 50%;
  font-size: 1.5vw;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temas:hover {
  background-color: rgb(53, 0, 105);
}

.color-text {
  color: red;
  margin: 1em;
}

/* Fotos e imágenes */

#foto-texto {
  background-color: black;
  border-radius: 5%;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.foto {
  border: 2px solid red;
  width: 10em;
  padding: 3px 3px 3px 3px;
  border-radius: 10%;
  transition: 5s;
  margin: 2em;
}

.foto:hover {
  width: 20vw;
}

.imagen {
  border: 2px solid rebeccapurple;
  width: 30em;
  margin: 1em;
  

}

/* Página de contacto */

h1 {
  font-size: xx-large;
  font-weight: 2.5em;
}

.casilla {
  background-color: #0a0a0a;
  color: #1599ce;
  width: 50vw;
  padding: 0vw 0vw 0.5vw 0vw;
  display: flex;
  flex-direction: row;
}

.casilla:active {
  background-color: aqua;
}

#margin-casillas {
  padding: 1vw 0vw 0.2vw 0vw;
  width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  
}

.mensaje {
  background-color: #0a0a0a;
  color: #1599ce;
  width: 50vw;
  padding: 1vw 0vw 8vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mensaje:active {
  background-color: aqua;
}

.boton {
  background-color: #0a0a0a;
  color: #1599ce;
}

.boton:hover {
  background-color: aqua;
}